<!-- The Modal -->
<div class="modal" id="CreateMuni">
    <div class="modal__content">
        <div class="flex items-center px-5 py-5 sm:py-3 border-b border-gray-200">
            <h2 class="font-medium text-base mr-auto">Cree un Municipio</h2>
        </div>

        <div class="p-5 grid grid-cols-12 gap-4 row-gap-3">
            <div class="col-span-12 sm:col-span-12">
                <Form action="@Url.Action("Create","Municipio")" id="createmuni" method="post">

                    <label>Departamento</label>
                    <select id="depto" name="mun_DepId" class="select2 w-full" asp-items="ViewBag.depto"></select>


                    <label>Descripcion</label>
                    <input type="text" class="input w-full border mt-2 flex-1" id="mun" name="mun_Descripcion" />
                </Form>

            </div>
        </div>
        <div class="px-5 py-3 text-right border-t border-gray-200">
            <button type="button" data-dismiss="modal" class="button w-20 border text-gray-700 mr-1">Cancelar</button>
            <button type="button" onclick="GuardarInsert()" class="button w-20 bg-theme-1 text-white">Guardar</button>
        </div>
    </div>
</div>


<script>

    function GuardarInsert() {

        var siuu = true;


        if ($('#mun').val() == "") {
            mostrarErrorToast("Campos requeridos.");
            siuu = false;
            console.log(1);

        }
        if ($('#depto').val() == 0) {
            mostrarErrorToast("Campos requeridos.");
            siuu = false;
            console.log(1);

        }

        if (siuu) {
            $('#createmuni').submit();
            mostrarSuccessToast("Se ha ingresado correctamente los datos.")
        }

    };

</script>

