<!-- The Modal -->
<Form action="@Url.Action("Edit","Categoria")" id="EditMun" method="post">
    <div class="modal" id="EditMuni">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Edita una Categoría</h4>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <label class="form-text">Descripcion</label>
                    <input type="hidden" class="form-control" id="txtMunID" name="mun_ID" />

                    <div class="row">
                        <div class="col-sm-6">
                            <label class="form-text">Departamento</label>
                            <select id="mun_DepId" name="mun_DepId" class="form-control" asp-items="ViewBag.depto"></select>
                        </div>

                        <div class="col-sm-6">
                            <label class="form-text">Descripcion</label>
                            <input type="text" class="form-control" id="mun" name="mun_Descripcion" />
                            <label id="ValidateMuni" hidden class="text-danger">Campo Requerido</label>

                        </div>
                    </div>

                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-warning" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-outline-success" onclick="GuardarDatos()">Guardar</button>
                </div>

            </div>
        </div>
    </div>
</Form>

<script>

        function Editar(cadena) {
        var datastring = cadena;
        var data = datastring.split(',');
            $("#txtMunID").val(data[0]);
            $("#mun_Descripcion").val(data[1]);
            $("#EditMuni").modal('show');
        };


    function GuardarDatos() {

        if ($("#mun_Descripcion").val() == "") {
            $("#ValidateMuni").attr("hidden", false);
            stop();
        }
        else {
            $("#ValidateMuni").attr("hidden", true);
            $('#EditMun').submit();
        }
    };

</script>