<!-- The Modal -->
<Form action="@Url.Action("Edit","Municipio")" id="EditMun" method="post">
    <div class="modal" id="EditMuni">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Edita un Municipio</h4>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <div class="p-4 pb-0">
                        <div class="row">
                                    <input type="hidden" id="txtid" name="mun_Id" class="form-control" readonly />

                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Departamento<label id="lb7" hidden style="color:red;">*</label></label>
                                    <select id="DDL_Dept" name="mun_DepId" class="form-control"></select>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Municipio<label id="lb8" hidden style="color:red;">*</label></label>
                                    <input type="text" id="txtMuni" required name="mun_Descripcion" class="form-control" />
                                </div>
                            </div>

                        </div>
                        <br />
                        <br />
                    </div>
                </div>
                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-warning" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-outline-success" onclick="Editar()">Guardar</button>
                </div>

            </div>
        </div>
    </div>
</Form>

<script>


    function DataEdit(id) {

        $.ajax({
            url: "/Municipio/Edit",
            type: 'GET',
            data: { id: id },
            success: function (result) {
                console.log(result);
                if (result.success) {
                    $('#txtid').val(result.mun_Id);
                    $('#txtMuni').val(result.mun_Descripcion);
                    $('#DDL_Dept').val(result.mun_DepId);


                    $.ajax({
                        url: "/Municipio/getDepartment",
                        type: "GET",
                        data: "{}",
                        success: function (data) {
                            var s = '<option value="-1">Por favor selecciona un departamento</option>';
                            for (var i = 0; i < data.length; i++) {
                                s += '<option value="' + data[i].DepartmentID + '">' + data[i].DepartmentName + '</option>';
                            }
                            $("#DDL_Dept").html(s);
                            $('#DDL_Dept').val(result.mun_DepId);
                        }
                    });
                }
            }
        });
    }

    function Editar() {
        var id = $('#DDL_Dept').val();
        var id2 = $('#txtMuni').val();
        var id3 = $('#txtid').val();
        $.ajax({
            url: "/Municipio/Edit",
            type: 'POST',
            data: { mun_Id: id3, mun_DepId: id, mun_Descripcion: id2 },
            success: function (result) {
                if (result.success && result.Editar) {
                    window.location.reload();
                }
                else {
                    $("#txtid").val(result.mun_Id);
                    $('#txtMuni').val(result.mun_Descripcion);
                    $('#DDL_Dept').val(result.mun_DepId);
                }
            }
        });
    }
</script>