
<Form action="@Url.Action("Edit","Municipio")" id="EditMun" method="post">

    <div class="modal fade" id="EditMuni" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myLargeModalLabel">Edite una categoría</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                </div>
                <div class="modal-body">
                    <br />

                    <input type="hidden" id="txtid" name="mun_Id" class="form-control" readonly />
                    <div class="row">
                        <div class="col-sm-6">
                            <label>Departamento</label>
                            <select id="mun_DepId" name="mun_DepId" class="input w-full border mt-2 flex-1"></select>
                        </div>

                        <div class="col-sm-6">
                            <label>Municipio</label>
                            <input type="text" id="txtMuni" required name="mun_Descripcion" class="input w-full border mt-2 flex-1" />
                        </div>
                    </div>
                    <br />
                </div>
                <div class="modal-footer">
                    <button type="button" data-dismiss="modal" class="btn btn-outline-danger">Cancelar</button>
                    <button type="button" onclick="GuardarDatos()" class="btn btn-outline-success">Guardar</button>
                </div>
            </div>
        </div>
    </div>
</Form>

<script>




    function CargarDatos(mun_Id) {
        $.ajax({
            type: "GET",
            url: "/Municipio/DatosIdMunicipio",
            data: { mun_Id: mun_Id },
            success: function (data) {

                $("#txtid").val(data.mun_Id);
                $("#txtMuni").val(data.mun_Descripcion);
                var deptoId = data.mun_DepId;
                $.ajax({
                    type: "GET",
                    url: "/Municipio/getDepartment",
                    data: "{}",
                    success: function (data) {
                        var s;
                        for (var i = 0; i < data.length; i++) {
                            s += '<option value="' + data[i].dep_ID + '" >' + data[i].dep_Descripcion + '</option>';
                        }
                        $("#mun_DepId").html(s);
                        $("#mun_DepId").val(deptoId);
                    }
                });
            }
        });
    }


    function Editar() {
        var id = $('#mun_DepId').val();
        var id2 = $('#txtMuni').val();
        var id3 = $('#txtid').val();
        $.ajax({
            url: "/Municipio/Edit",
            type: 'POST',
            data: { mun_Id: id3, mun_DepId: id, mun_Descripcion: id2 },
            success: function (result) {
                if (result.success && result.Editar) {
                    $('#EditMun').submit();
                    mostrarSuccessToast("Se ha ingresado correctamente.")
                }
                else {
                    $("#txtid").val(result.mun_Id);
                    $('#txtMuni').val(result.mun_Descripcion);
                    $('#mun_DepId').val(result.mun_DepId);
                }
            }
        });
    }
</script>