@model Maquillaje.WebUI.Models.VentaDetallesViewModel


<div class="card">
    <div class="card-header" style="background-color:#ffd3d8">
        <h2>
            <img src="~/img/pro.png" width="40px" height="40px" /> <font face="segoe script" color="black">Detalles</font>
        </h2>
    </div>
    <div class="card-body">
        @*<div class="d-flex justify-content-end mb-2">
                <a asp-action="Index">Regresar al index</a>
            </div>*@
        <form asp-controller="Venta" asp-action="CreateDetalles" id="formCreateDetalles">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="vde_VentaId" value="@ViewBag.vde_VentaId" hidden />
            <input type="hidden" id="esEditar" asp-for="esEditar" />



            <div class="row">
                <div class="col-sm-6">

                    <div class="form-group">
                        <label asp-for="cate" class="control-label"></label>
                        <select asp-for="cate" class="form-control" asp-items="ViewBag.cate">
                            <option value="">-- Seleccione una categoría --</option>
                        </select>
                        <span asp-validation-for="cate" class="text-danger"></span>
                    </div>
                </div>


                <div class="col-sm-6">
                    <div class="form-group">
                        <label asp-for="vde_Producto" class="control-label"></label>
                        <select asp-for="vde_Producto" class="form-control" asp-items="ViewBag.vde_Producto">
                            <option value="">-- Seleccione un producto --</option>
                        </select>
                        <span asp-validation-for="vde_Producto" class="text-danger"></span>
                        <label id="prod_IdValidation" name="prod_IdValidation" class="text-danger control-label" hidden>Tiene que seleccionar un producto</label>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label asp-for="vde_Cantidad" class="control-label"></label>
                        <input asp-for="vde_Cantidad" class="form-control" />
                        <label id="factdeta_CantidadValidation" name="factdeta_CantidadValidation" class="text-danger control-label" hidden>Tiene que ingresar una cantidad válida</label>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="form-group">
                        <label>Precio Unitario</label>
                        <input asp-for="pro.pro_PrecioUnitario" id="precio_unitario" class="form-control" disabled />
                    </div>
                </div>

            </div>

            <br />
            <div class="card-footer">
                <center>
                    <input type="button" value="Continuar" id="btnContinuar" class="btn btn-outline-secondary" />
                    <a asp-action="Index" disabled id="btnFinalizar" class="btn btn-outline-success">Cerrar Venta</a>
                </center>
            </div>

        </form>
    </div>
</div>
<br />
<br />
<script src="~/js/Detalles/VentaDetalleCreate.js"></script>