
@model Maquillaje.WebUI.Models.VentaDetallesViewModel
<!-- Modal -->
<div class="modal fade" id="EditarDetalles" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <form method="post" asp-controller="Venta" asp-action="Edit" id="formEdit">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="card-header" style="background-color:#ffd3d8">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>

                    <div class="text-center">
                        <img src="~/Content/iMG/giphy.gif" width="100" />
                        <h3 style="color:black;font-family:'Segoe Print'">Editar Venta</h3>
                    </div>
                </div>
                <div class="modal-body">

                    <div class="row">
                        <div class="col-md-12">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input asp-for="vde_Id" class="form-control" id="factdeta_IdEdit" name="vde_Id" hidden />
                            <input asp-for="vde_VentaId" class="form-control" id="fact_IdEdit" name="vde_VentaId" hidden />
                            <input type="hidden" id="esEditar" asp-for="esEditar" />
                            <div class="form-group">
                                <label asp-for="cate" class="control-label"></label>
                                <select class="form-control" id="cateEditar" asp-for="cate" asp-items="ViewBag.cate">
                                    <option>--Seleccione una categoría--</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label asp-for="vde_Producto" class="control-label"></label>
                                <select class="form-control" id="prodIdEditar" asp-for="vde_Producto" asp-items="ViewBag.prod_Id">
                                </select>
                                <label name="prod_IdEditError" id="prod_IdEditError" class="control-label text-danger" hidden">Este campo es requerido</label>
                            </div>
                            <div class="form-group">
                                <label asp-for="vde_Cantidad" class="control-label"></label>
                                <input class="form-control" id="factdeta_CantidadEditar" asp-for="vde_Cantidad" />
                                <label name="factdeta_CantidadEditError" id="factdeta_CantidadEditError" class="control-label text-danger" hidden">Este campo es requerido</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" data-dismiss="modal" class="btn btn-primary"><i class="icon-copy fa fa-remove" aria-hidden="true"></i> Cerrar</button>
                    <button type="button" onclick="GuardarModalEdit()" class="btn btn-outline-secondary"> <i class="icon-copy fa fa-floppy-o" aria-hidden="true"></i> Editar</button>
                </div>
            </div>
        </div>
    </form>
</div>
<script src="~/js/Detalles/VentaDetalleEdit.js"></script>