@model Maquillaje.WebUI.Models.EmpleadosViewModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="col-lg-12 mb-0 order-0">
    <div class="card" style="background-color: white">
        <div class="d-flex align-items-end row">
            <div class="col-sm-12">
                <div class="card-header" style="background-color:#ffd3d8">
                    <div class="text-center">
                        <img src="~/Content/iMG/giphy.gif" width="100" />
                        <h3 style="color:black;font-family:'Segoe Print'">Edite un Empleado</h3>
                    </div>
                </div>
                <div class="card-body">



                    <form asp-action="Edit">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="emp_ID" />

                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <span asp-validation-for="emp_Nombre" class="text-danger"></span>
                                    <label asp-for="emp_Nombre" class="control-label"></label>
                                    <input asp-for="emp_Nombre" class="form-control" />

                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="form-group">
                                    <span asp-validation-for="emp_Apellido" class="text-danger"></span>
                                    <label asp-for="emp_Apellido" class="control-label"></label>
                                    <input asp-for="emp_Apellido" class="form-control" />

                                </div>
                            </div>
                        </div>



                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <span asp-validation-for="emp_DNI" class="text-danger"></span>

                                    <label asp-for="emp_DNI" class="control-label"></label>
                                    <input asp-for="emp_DNI" class="form-control" />
                                    <label asp-validation-for="emp_DNI" class="text-danger">@Html.ValidationMessage("DNI")</label>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="form-group">
                                    <span asp-validation-for="emp_FechaNacimiento" class="text-danger"></span>
                                    <label asp-for="emp_FechaNacimiento" class="control-label"></label>
                                    <input type="date" asp-for="emp_FechaNacimiento" class="form-control" />
                                </div>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <span asp-validation-for="emp_Sexo" class="text-danger"></span>
                                    <label asp-for="emp_Sexo" class="control-label"></label>
                                    <div class="row">
                                        <div class="col-sm-1"></div>
                                        <label>F</label>
                                        <input type="radio" value="F" asp-for="emp_Sexo" class="form-check-inline" />
                                        <label>M</label>
                                        <input type="radio" value="M" asp-for="emp_Sexo" class="form-check-inline" />
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="form-group">
                                    <span asp-validation-for="emp_Telefono" class="text-danger"></span>
                                    <label asp-for="emp_Telefono" class="control-label"></label>
                                    <input asp-for="emp_Telefono" class="form-control" />
                                </div>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label asp-validation-for="depto" class="text-danger">@Html.ValidationMessage("ValidarDep")</label>
                                    <label asp-for="depto" class="control-label"></label>
                                    <select id="depto" name="depto" class="form-control" asp-items="ViewBag.depto"></select>
                                </div>
                            </div>


                            <div class="col-sm-6">
                                <div class="form-group">
                                    <span asp-validation-for="emp_Municipio" class="text-danger"></span>
                                    <label asp-for="emp_Municipio" class="control-label"></label>
                                    <select asp-for="emp_Municipio" class="form-control" asp-items="ViewBag.emp_Municipio"></select>

                                </div>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <span asp-validation-for="emp_Sucursal" class="text-danger"></span>
                                    <label asp-for="emp_Sucursal" class="control-label"></label>
                                    <select asp-for="emp_Sucursal" class="form-control" asp-items="ViewBag.emp_Sucursal"></select>

                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label asp-validation-for="emp_EstadoCivil" class="text-danger">@Html.ValidationMessage("ValidarCivil")</label>
                                    <label asp-for="emp_EstadoCivil" class="control-label"></label>
                                    <select asp-for="emp_EstadoCivil" class="form-control" asp-items="ViewBag.emp_EstadoCivil"></select>

                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <span asp-validation-for="emp_Correo" class="text-danger"></span>
                                    <label asp-for="emp_Correo" class="control-label"></label>
                                    <input asp-for="emp_Correo" class="form-control" />

                                </div>
                            </div>
                        </div>


                        <div class="card-footer">
                            <div class="text-center">
                                <button class="btn btn-primary" style="color: black" type="submit"> <i class="icon-copy fa fa-floppy-o" aria-hidden="true"></i> Guardar</button>
                                <a class="btn btn-outline-secondary" style="color: black" asp-action="Index"><i class="icon-copy fa fa-reply" aria-hidden="true"></i> Volver</a>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
   
            <script src="~/js/Empleados.js/EditarEmpleados.js"></script>
