@model Maquillaje.WebUI.Models.EmpleadosViewModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@if (!string.IsNullOrEmpty(ViewBag.ErrorMessageScript))
{
    @Html.Raw(ViewBag.ErrorMessageScript)
}
<h1>Editar</h1>

<h4>Empleados</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="emp_ID" />
            <div class="form-group">
                <span asp-validation-for="emp_Nombre" class="text-danger"></span>
                <label asp-for="emp_Nombre" class="control-label"></label>
                <input asp-for="emp_Nombre" class="form-control" />

            </div>
            <div class="form-group">
                <span asp-validation-for="emp_Apellido" class="text-danger"></span>
                <label asp-for="emp_Apellido" class="control-label"></label>
                <input asp-for="emp_Apellido" class="form-control" />

            </div>
            <div class="form-group">
                <span asp-validation-for="emp_DNI" class="text-danger"></span>
                <label asp-validation-for="emp_DNI" class="text-danger">@Html.ValidationMessage("DNI")</label>
                <label asp-for="emp_DNI" class="control-label"></label>
                <input asp-for="emp_DNI" class="form-control" />
            </div>
            <div class="form-group">
                <span asp-validation-for="emp_FechaNacimiento" class="text-danger"></span>
                <label asp-for="emp_FechaNacimiento" class="control-label"></label>
                <input type="date" asp-for="emp_FechaNacimiento" class="form-control" />
            </div>
            <div class="form-group">
                <span asp-validation-for="emp_Sexo" class="text-danger"></span>
                <label asp-for="emp_Sexo" class="control-label"></label>
                <div class="row">
                    <div class="col-sm-1"></div>
                    <label>F</label>
                    <input type="radio" value="F" asp-for="emp_Sexo" class="form-check-inline" />
                    <label>M</label>
                    <input type="radio" value="M" asp-for="emp_Sexo" class="form-check-inline" />
                </div>
            </div>
            <div class="form-group">
                <span asp-validation-for="emp_Telefono" class="text-danger"></span>
                <label asp-for="emp_Telefono" class="control-label"></label>
                <input asp-for="emp_Telefono" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-validation-for="depto" class="text-danger">@Html.ValidationMessage("ValidarDep")</label>
                <label asp-for="depto" class="control-label"></label>
                <select id="depto" name="depto" class="form-control" asp-items="ViewBag.depto"></select>
            </div>
            <div class="form-group">
                <span asp-validation-for="emp_Municipio" class="text-danger"></span>
                <label asp-for="emp_Municipio" class="control-label"></label>
                <select asp-for="emp_Municipio" class="form-control" asp-items="ViewBag.emp_Municipio"></select>

            </div>
            <div class="form-group">
                <span asp-validation-for="emp_Correo" class="text-danger"></span>
                <label asp-for="emp_Correo" class="control-label"></label>
                <input asp-for="emp_Correo" class="form-control" />

            </div>
            <div class="form-group">
                <label asp-validation-for="emp_EstadoCivil" class="text-danger">@Html.ValidationMessage("ValidarCivil")</label>
                <label asp-for="emp_EstadoCivil" class="control-label"></label>
                <select asp-for="emp_EstadoCivil" class="form-control" asp-items="ViewBag.emp_EstadoCivil"></select>

            </div>
            <div class="form-group">
                <span asp-validation-for="emp_Sucursal" class="text-danger"></span>
                <label asp-for="emp_Sucursal" class="control-label"></label>
                <select asp-for="emp_Sucursal" class="form-control" asp-items="ViewBag.emp_Sucursal"></select>

            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
<script src="~/js/Empleados.js/EditarEmpleados.js"></script>
