
<Form action="@Url.Action("Create","EstadosCiviles")" method="post" id="createestado">

    <div class="modal fade" id="CreateEst" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myLargeModalLabel">Cree un Estado Civil</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                </div>
                <div class="modal-body">
                    <br />
                    <label>Descripcion</label>
                    <input type="text" id="txtEstado" name="est_Descripcion" class="form-control" />
                    <br />
                </div>
                <div class="modal-footer">
                    <button type="button" data-dismiss="modal" class="btn btn-outline-danger">Cancelar</button>
                    <button type="button" onclick="GuardarInsert()" class="btn btn-outline-success">Guardar</button>
                </div>
            </div>
        </div>
    </div>
</Form>


<script>

    function GuardarInsert() {

        var siuu = true;


        if ($('#txtEstado').val() == "") {
            mostrarErrorToast("Campos requeridos.");
            siuu = false;
            console.log(1);

        }

        if (siuu) {
            $('#createestado').submit();
            mostrarSuccessToast("Se ha ingresado correctamente los datos.")
        }

    };

</script>

