

<Form action="@Url.Action("Edit","EstadosCiviles")" id="EditEst" method="post">

    <div class="modal fade" id="EditEsta" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myLargeModalLabel">Edite un Estado Civil</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                </div>
                <div class="modal-body">
                    <br />
                    <input type="text" hidden id="txtEstId" name="est_ID" class="form-control" />
                    <label>Descripcion</label>
                    <input type="text" id="txtEstDescripcion" name="est_Descripcion" class="input w-full border mt-2 flex-1" />
                    <br />
                </div>
                <div class="modal-footer">
                    <button type="button" data-dismiss="modal" class="btn btn-outline-danger">Cancelar</button>
                    <button type="button" onclick="GuardarDatos()" class="btn btn-outline-success">Guardar</button>
                </div>
            </div>
        </div>
    </div>
</Form>

<script>

    function Editar(cadena) {
        var datastring = cadena;
        var data = datastring.split(',');
        $("#txtEstId").val(data[0]);
        $("#txtEstDescripcion").val(data[1]);
        $("#EditEsta").modal('show');
    };


    function GuardarDatos() {

        if ($("#txtEstDescripcion").val() == "") {
            mostrarErrorToast("Campos requeridos.");
            stop();
        }
        else {
            $('#EditEst').submit();
            mostrarSuccessToast("Se ha ingresado correctamente los datos.")

        }
    };

</script>