


<form action="@Url.Action("Delete","MetodoPago")" method="post" id="deleteform">

    <div class="modal fade" id="DeleteMet" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm modal-dialog-centered">
            <div class="modal-content bg-danger text-white">
                <div class="modal-body text-center">
                    <h3 class="text-white mb-15"><i class="fa fa-exclamation-triangle"></i> Alert</h3>
                    <input type="hidden" id="txtMetId" name="met_Id" />
                    <div class="text-gray-600 mt-2">
                        <div class="text-gray-600 mt-2">¿Está seguro de eliminar el registro?</div>
                        <br />
                        <br />
                        <button type="button" data-dismiss="modal" class="btn btn-light">Salir</button>
                        <button type="button" id="confirmar" class="btn btn-light">OK</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>


<script>

    function ShowModal(txtMetId) {
        $('#DeleteMet').modal('show');
        $("#confirmar").click(function () {
            var id = txtMetId;

            $.ajax({
                url: "/MetodoPago/Eliminar",
                type: "POST",
                data: { met_Id: id },
                success: function () {
                    window.location.href = "/MetodoPago/Listado";
                },
                error: function () {
                    mostrarErrorToast("Ha habido un error.");
                }
            });
        });
    };
</script>
