<!-- The Modal -->
<div class="modal" id="EditMetodo">
    <div class="modal__content">
        <div class="flex items-center px-5 py-5 sm:py-3 border-b border-gray-200">
            <h2 class="font-medium text-base mr-auto">Edite una categoría</h2>
            <div class="dropdown relative sm:hidden">
                <a class="dropdown-toggle w-5 h-5 block" href="javascript:;"> <i data-feather="more-horizontal" class="w-5 h-5 text-gray-700"></i> </a>
                <div class="dropdown-box mt-5 absolute w-40 top-0 right-0 z-20">
                    <div class="dropdown-box__content box p-2"> </div>
                </div>
            </div>
        </div>

        <div class="p-5 grid grid-cols-12 gap-4 row-gap-3">
            <div class="col-span-12 sm:col-span-12">
                <Form action="@Url.Action("Edit","MetodoPago")" id="EditMeto" method="post">
                    <input type="text" hidden id="txtMetId" name="met_Id" />
                    <label >Descripcion</label>
                    <input type="text" id="txtMetDescripcion" name="met_Descripcion" class="input w-full border mt-2 flex-1" />
                </Form>

            </div>
        </div>

        <div class="px-5 py-3 text-right border-t border-gray-200">
            <button type="button" data-dismiss="modal" class="button w-20 border text-gray-700 mr-1">Cancelar</button>
            <button type="button" onclick="GuardarDatos()" class="button w-20 bg-theme-1 text-white">Guardar</button>
        </div>
    </div>
</div>


<script>

    function Editar(cadena) {
        var datastring = cadena;
        var data = datastring.split(',');
        $("#txtMetId").val(data[0]);
        $("#txtMetDescripcion").val(data[1]);
        $("#EditMetodo").modal('show');
    };


    function GuardarDatos() {

        if ($("#txtMetDescripcion").val() == "") {
            mostrarErrorToast("Campos requeridos.");
            stop();
        }
        else {
            $('#EditMeto').submit();
            mostrarInfoToast("Se ha modificado el registro.")

        }
    };
</script>