

<Form action="@Url.Action("Edit","MetodoPago")" id="EditMeto" method="post">

    <div class="modal fade" id="EditMet" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myLargeModalLabel">Edite un Método de Pago</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                </div>
                <div class="modal-body">
                    <br />
                    <input type="text" hidden id="txtMetId" name="met_Id" />
                    <label>Descripcion</label>
                    <input type="text" id="txtMetDescripcion" name="met_Descripcion" class="form-control" />
                    <br />
                </div>
                <div class="modal-footer">
                    <button type="button" data-dismiss="modal" class="btn btn-outline-danger">Cancelar</button>
                    <button type="button" onclick="GuardarDatos()" class="btn btn-outline-success">Guardar</button>
                </div>
            </div>
        </div>
    </div>
</Form>
<script>

    function Editar(cadena) {
        var datastring = cadena;
        var data = datastring.split(',');
        $("#txtMetId").val(data[0]);
        $("#txtMetDescripcion").val(data[1]);
        $("#EditMetodo").modal('show');
    };


    function GuardarDatos() {

        if ($("#txtMetDescripcion").val() == "") {
            mostrarErrorToast("Campos requeridos.");
            stop();
        }
        else {
            $('#EditMeto').submit();
            mostrarInfoToast("Se ha modificado el registro.")

        }
    };
</script>