<!-- The Modal -->
<Form action="@Url.Action("Create","Departamentos")" method="post">
    <div class="modal" id="CreateDep">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Crea un Método de Pago</h4>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <label class="form-text">Descripcion</label>
                    <input type="text" class="form-control" id="dep" name="dep_Descripcion" />
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-warning" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-outline-success">Guardar</button>
                </div>

            </div>
        </div>
    </div>
</Form>