

<Form action="@Url.Action("Edit","Departamentos")" id="EditDepa" method="post">

    <div class="modal fade" id="EditDepo" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myLargeModalLabel">Edite un departamento</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                </div>
                <div class="modal-body">
                    <br />
                    <input type="text" hidden id="txtDepId" name="dep_ID" class="form-control" />
                    <label class="form-text">Descripcion</label>
                    <input type="text" id="txtDepDescripcion" name="dep_Descripcion" class="form-control" />
                    <br />
                </div>
                <div class="modal-footer">
                    <button type="button" data-dismiss="modal" class="btn btn-outline-danger">Cancelar</button>
                    <button type="button" onclick="GuardarDatos()" class="btn btn-outline-success">Guardar</button>
                </div>
            </div>
        </div>
    </div>
</Form>


<script>

    function Editar(cadena) {
        var datastring = cadena;
        var data = datastring.split(',');
        $("#txtDepId").val(data[0]);
        $("#txtDepDescripcion").val(data[1]);
        $("#EditDepo").modal('show');
    };


    function GuardarDatos() {

        if ($("#txtDepDescripcion").val() == "") {
            mostrarErrorToast("Campos requeridos.");
            stop();
        }
        else {
            $("#ValidateDeptoEdit").attr("hidden", true);
            $('#EditDepa').submit();
            mostrarInfoToast("Se ha modificado el registro.")

        }
    };

</script>