
<Form action="@Url.Action("Edit","Categoria")" id="EditForm" method="post">

    <div class="modal fade" id="EditCate" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="card-header" style="background-color:#ffd3d8">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>

                    <div class="text-center">
                        <img src="~/Content/iMG/giphy.gif" width="100" />
                        <h3 style="color:black;font-family:'Segoe Print'">Edite una categoría</h3>
                    </div>
                </div>

                <div class="modal-body">
                    <br />
                    <input type="hidden" id="txtCatId" name="cat_Id" class="input w-full border mt-2 flex-1">
                    <label>Descripcion</label>
                    <input type="text" id="txtCatDescripcion" name="cat_Descripcion" class="form-control">
                    <br />
                </div>
                <div class="modal-footer">
                    <button type="button" data-dismiss="modal" style="color: black" class="btn btn-primary"><i class="icon-copy fa fa-remove" aria-hidden="true"></i> Cancelar</button>
                    <button type="button" onclick="GuardarDatos()" class="btn btn-outline-secondary"> <i class="icon-copy fa fa-floppy-o" aria-hidden="true"></i> Guardar</button>
                </div>
            </div>
        </div>
    </div>
</Form>

<script>

    function Editar(cadena) {
        var datastring = cadena;
        var data = datastring.split(',');
        $("#txtCatId").val(data[0]);
        $("#txtCatDescripcion").val(data[1]);
        $("#EditCate").modal('show');
    };


    function GuardarDatos() {

        if ($("#txtCatDescripcion").val() == "") {
            mostrarErrorToast("Campos requeridos.");

        }
        else {
            $('#EditForm').submit();
            mostrarInfoToast("Se ha modificado el registro.")
        }
    };

</script>
