

<form action="@Url.Action("Delete","Cliente")" method="post" id="deleteform">

    <div class="modal fade" id="DeleteCli" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm modal-dialog-centered">
            <div class="modal-content bg-danger text-white">
                <div class="modal-body text-center">
                    <h3 class="text-white mb-15"><i class="fa fa-exclamation-triangle"></i> Alert</h3>
                    <input type="hidden" id="tct_CliId" name="cli_Id" />
                    <div class="text-gray-600 mt-2">
                        ¿Está seguro de eliminar el registro?
                        <br />
                        <br />
                        <button type="button" data-dismiss="modal" class="btn btn-light">Salir</button>
                        <button type="button" id="confirmar" class="btn btn-light">OK</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<script>

    function ShowModal(tct_CliId) {
        $('#DeleteCli').modal('show');
        $("#confirmar").click(function () {
            var id = tct_CliId;

            $.ajax({
                url: "/Cliente/Eliminar",
                type: "POST",
                data: { cli_Id: id },
                success: function () {
                    window.location.href = "/Cliente/Listado";
                },
                error: function () {
                    alert("Error al eliminar el registro.");
                }
            });
        });
    };
</script>

