@model Maquillaje.WebUI.Models.ClientesViewModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="card">
    <div class="card-header">
        <h1>Crear</h1>

        <h4>Clientes</h4>
    </div>
    <form asp-action="Create" class="needs-validation" method="post" novalidate>
       
        <div class="card-body">
            <div class="row">
                <div class="col-md-6">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <span asp-validation-for="cli_Nombre" class="text-danger"></span>
                        <label asp-for="cli_Nombre" class="control-label"></label>
                        <input asp-for="cli_Nombre" class="form-control" />

                    </div>
                    <div class="form-group">
                        <span asp-validation-for="cli_Apellido" class="text-danger"></span>
                        <label asp-for="cli_Apellido" class="control-label"></label>
                        <input asp-for="cli_Apellido" class="form-control" />

                    </div>
                    <div class="form-group">
                        <label class="text-danger">@Html.ValidationMessage("ValidarDNI")</label>
                        <span asp-validation-for="cli_DNI" class="text-danger"></span>
                        <label asp-for="cli_DNI" class="control-label"></label>
                        <input asp-for="cli_DNI" class="form-control" />

                    </div>
                    <div class="form-group">
                        <label asp-validation-for="cli_FechaNacimiento" class="text-danger">@Html.ValidationMessage("ValidarFecha")</label>
                        <label asp-for="cli_FechaNacimiento" class="control-label"></label>
                        <input type="date" asp-for="cli_FechaNacimiento" class="form-control" />

                    </div>
                    <div class="form-group">
                        <span asp-validation-for="cli_Sexo" class="text-danger"></span>
                        <label asp-for="cli_Sexo" class="control-label"></label>
                        <div class="row">
                            <div class="col-sm-1"></div>
                            <label>F</label>
                            <input type="radio" value="F" asp-for="cli_Sexo" class="form-check-inline" />
                            <label>M</label>
                            <input type="radio" value="M" asp-for="cli_Sexo" class="form-check-inline" />
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <span asp-validation-for="cli_Telefono" class="text-danger"></span>
                        <label asp-for="cli_Telefono" class="control-label"></label>
                        <input asp-for="cli_Telefono" class="form-control" />

                    </div>
                    <div class="form-group">
                        <label asp-validation-for="depto" class="text-danger">@Html.ValidationMessage("ValidarDep")</label>
                        <label asp-for="depto" class="control-label"></label>
                        <select id="depto" name="depto" class="form-control" asp-items="ViewBag.depto"></select>
                    </div>
                    <div class="form-group">
                        <span asp-validation-for="cli_Municipio" class="text-danger"></span>
                        <label asp-for="cli_Municipio" class="control-label"></label>
                        <select id="cli_Municipio" name="cli_Municipio" asp-for="cli_Municipio" asp-items="ViewBag.Municipio" class="form-control"></select>
                    </div>
                    <div class="form-group">
                        <label asp-validation-for="cli_EstadoCivil" class="text-danger">@Html.ValidationMessage("ValidarCivil")</label>
                        <label asp-for="cli_EstadoCivil" class="control-label"></label>
                        <select asp-for="cli_EstadoCivil" class="form-control" asp-items="ViewBag.cli_EstadoCivil"></select>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <div class="text-center">
                <input class="btn btn-primary" type="submit" value="Guardar" />
                <a class="btn btn-dark" asp-action="Index">Volver</a>
            </div>
        </div>
    </form>
</div>

<script src="~/js/Clientes.js/CargarMunicipios.js"></script>



