
<Form action="@Url.Action("Create","Usuarios")" method="post" id="createusu">

    <div class="modal fade" id="CreateUsu" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myLargeModalLabel">Cree un Usuario</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                </div>
                <div class="modal-body">
                    <br />
                    <div class="row">
                        <div class="col-sm-6">
                            <label class="form-text">Empleado</label>
                            <select id="emp_Id" name="emp_Id" class="form-control" asp-items="ViewBag.usuario"></select>
                        </div>

                        <div class="col-sm-6">
                            <label class="form-text">Usuario</label>
                            <input id="usu_Usuario" name="usu_Usuario" class="form-control" />
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-6">
                            <label class="form-text">Clave</label>
                            <input id="usu_Clave" name="usu_Clave" class="form-control" />
                        </div>

                        <div class="col-sm-6">
                            <label class="form-text">Es Admin</label>
                            <input type="checkbox" id="usu_EsAdmin" value="true" name="usu_EsAdmin" class="form-control"/>
                        </div>
                    </div>
                    <br />
                </div>
                <div class="modal-footer">
                    <button type="button" data-dismiss="modal" class="btn btn-outline-danger">Cancelar</button>
                    <button type="button" onclick="GuardarInsert()" class="btn btn-outline-success">Guardar</button>
                </div>
            </div>
        </div>
    </div>
</Form>



<script>



    function GuardarInsert() {

        var siuu = true;



        if ($('#usu_Usuario').val() == "" || $('#usu_Clave').val() == "" || $('#emp_Id').val() == 0) {
            mostrarErrorToast("Campos requeridos.");
            siuu = false;
            console.log(1);

        }


        if (siuu) {
            $('#createusu').submit();
            mostrarSuccessToast("Se ha ingresado correctamente los datos.")
        }

    };

</script>

