<!-- The Modal -->
    <div class="modal" id="CreateUsu">
        <div class="modal-dialog">
            <div class="modal-content">
                <Form action="@Url.Action("Create","Usuarios")" method="post">

                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title">Crea una Sucursal</h4>
                    </div>

                    <!-- Modal body -->
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-sm-6">
                                <label class="form-text">Empleado</label>
                                <select id="emp_Id" name="emp_Id" class="form-control" asp-items="ViewBag.usuario"></select>
                            </div>

                            <div class="col-sm-6">
                                <label class="form-text">Usuario</label>
                                <input id="usu_Usuario" name="usu_Usuario" class="form-control" />
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-6">
                                <label class="form-text">Clave</label>
                                <input id="usu_Clave" name="usu_Clave" class="form-control" />
                            </div>

                            <div class="col-sm-6">
                                <label class="form-text">Es Admin</label>
                                <input type="checkbox" id="usu_EsAdmin" value="true" name="usu_EsAdmin" />
                            </div>
                        </div>
                    </div>

                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-warning" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-outline-success">Guardar</button>
                    </div>
                </Form>
</div>
        </div>
    </div>


<script>
    if ($('#usu_EsAdmin').prop('checked')) {
        $('#usu_EsAdmin').val() = true;
    }
    else {
        $('#usu_EsAdmin').val() = false;

    }
</script>
