<!-- The Modal -->
<div class="modal" id="CreateUsu">
    <div class="modal__content">
        <div class="flex items-center px-5 py-5 sm:py-3 border-b border-gray-200">
            <h2 class="font-medium text-base mr-auto">Cree un Usuario</h2>
        </div>

        <div class="p-5 grid grid-cols-12 gap-4 row-gap-3">
            <div class="col-span-12 sm:col-span-12">
                <Form action="@Url.Action("Create","Usuarios")" method="post" id="createusu">

                        <label class="form-text">Empleado</label>
                        <select id="emp_Id" name="emp_Id" class="select2 w-full border col-span-4" asp-items="ViewBag.usuario"></select>

                        <label class="form-text">Usuario</label>
                        <input id="usu_Usuario" name="usu_Usuario" class="input w-full border col-span-4" />

                        <label class="form-text">Clave</label>
                        <input id="usu_Clave" name="usu_Clave" class="input w-full border mt-2 flex-1" />
                    
                        <label class="form-text">Es Admin</label>
                        <input type="checkbox" id="usu_EsAdmin" value="true" name="usu_EsAdmin" class="input input--switch border" />
                </Form>

        </div>
        </div>

        <div class="px-5 py-3 text-right border-t border-gray-200">
            <button type="button" data-dismiss="modal" class="button w-20 border text-gray-700 mr-1">Cancelar</button>
            <button type="button" onclick="GuardarInsert()" class="button w-20 bg-theme-1 text-white">Guardar</button>
        </div>
    </div>
</div>


<script>



    function GuardarInsert() {

        var siuu = true;



        if ($('#usu_Usuario').val() == "" || $('#usu_Clave').val() == "" || $('#emp_Id').val() == 0 )
        {
            mostrarErrorToast("Campos requeridos.");
            siuu = false;
            console.log(1);

        }


        if (siuu) {
            $('#createusu').submit();
            mostrarSuccessToast("Se ha ingresado correctamente los datos.")
        }

    };

</script>

