

<div class="modal" id="DeleteUsu">
    <div class="modal__content">
        <div class="p-5 text-center">
            <form action="@Url.Action("Delete","Usuarios")" method="post" id="deleteform">

                <i data-feather="x-circle" class="w-16 h-16 text-theme-6 mx-auto mt-3"></i>
                <input type="hidden" id="usu_Id" name="usu_Id" />
                <div class="text-gray-600 mt-2">¿Está seguro de eliminar el registro?</div>
            </form>

        </div>
        <div class="px-5 pb-8 text-center">
            <button type="button" data-dismiss="modal" class="button w-24 border text-gray-700 mr-1">Cancelar</button>
            <button type="button" id="confirmar" class="button w-24 bg-theme-6 text-white">Eliminar</button>
        </div>
    </div>
</div>

<script>

    function ShowModal(usu_Id) {
        $('#DeleteUsu').modal('show');
        $("#confirmar").click(function () {
            var id = usu_Id;

            $.ajax({
                url: "/Usuarios/Eliminar",
                type: "POST",
                data: { usu_Id: id },
                success: function () {
                    window.location.href = "/Usuarios/Listado";
                },
                error: function () {
                    alert("Error al eliminar el registro.");
                }
            });
        });
    };
</script>
