
<form action="@Url.Action("Delete","Proveedores")" method="post" id="deleteform">

    <div class="modal fade" id="Deleteprov" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm modal-dialog-centered">
            <div class="modal-content bg-danger text-white">
                <div class="modal-body text-center">
                    <h3 class="text-white mb-15"><i class="fa fa-exclamation-triangle"></i> Alert</h3>
                    <input type="hidden" id="prv_Id" name="prv_Id" />
                    <div class="text-gray-600 mt-2">
                        ¿Está seguro de eliminar el registro?
                        <br />
                        <br />
                        <button type="button" data-dismiss="modal" class="btn btn-light">Salir</button>
                        <button type="button" id="confirmar" class="btn btn-light">OK</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<script>

    function ShowModal(prv_Id) {
        $('#Deleteprov').modal('show');
        $("#confirmar").click(function () {
            var id = prv_Id;

            $.ajax({
                url: "/Proveedores/Eliminar",
                type: "POST",
                data: { prv_Id: id },
                success: function () {
                    window.location.href = "/Proveedores/Listado";
                },
                error: function () {
                    alert("Error al eliminar el registro.");
                }
            });
        });
    };
</script>
