@model Maquillaje.WebUI.Models.ProveedoresViewModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-lg-12 mb-0 order-0">
    <div class="card" style="background-color: white">
        <div class="d-flex align-items-end row">
            <div class="col-sm-12">
                <div class="card-header" style="background-color:#ffd3d8">
                    <div class="text-center">
                        <img src="~/Content/iMG/giphy.gif" width="100" />
                        <h3 style="color:black;font-family:'Segoe Print'">Cree un Proveedor</h3>
                    </div>
                </div>
                <div class="card-body">
                    <form asp-action="Create">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <span asp-validation-for="prv_NombreCompañia" class="text-danger"></span>
                                    <label asp-for="prv_NombreCompañia" class="control-label"></label>
                                    <input asp-for="prv_NombreCompañia" class="form-control" />

                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="form-group">
                                    <span asp-validation-for="prv_NombreContacto" class="text-danger"></span>
                                    <label asp-for="prv_NombreContacto" class="control-label"></label>
                                    <input asp-for="prv_NombreContacto" class="form-control" />

                                </div>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <span asp-validation-for="prv_TelefonoContacto" class="text-danger"></span>
                                    <label asp-for="prv_TelefonoContacto" class="control-label"></label>
                                    <input asp-for="prv_TelefonoContacto" class="form-control" />

                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <span asp-validation-for="prv_DireccionEmpresa" class="text-danger"></span>
                                    <label asp-for="prv_DireccionEmpresa" class="control-label"></label>
                                    <input asp-for="prv_DireccionEmpresa" class="form-control" />

                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <span asp-validation-for="prv_DireccionContacto" class="text-danger"></span>
                                    <label asp-for="prv_DireccionContacto" class="control-label"></label>
                                    <input asp-for="prv_DireccionContacto" class="form-control" />

                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="form-group">
                                    <span asp-validation-for="prv_SexoContacto" class="text-danger"></span>
                                    <label asp-for="prv_SexoContacto" class="control-label"></label>
                                    <div class="row">
                                        <div class="col-sm-1"></div>
                                        <label>F</label>
                                        <input type="radio" value="F" asp-for="prv_SexoContacto" class="form-check-inline" />
                                        <label>M</label>
                                        <input type="radio" value="M" asp-for="prv_SexoContacto" class="form-check-inline" />
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="card-footer">
                            <div class="text-center">
                                <button class="btn btn-primary" style="color: black" type="submit"> <i class="icon-copy fa fa-floppy-o" aria-hidden="true"></i> Guardar</button>
                                <a class="btn btn-outline-secondary" style="color: black" asp-action="Index"><i class="icon-copy fa fa-reply" aria-hidden="true"></i> Volver</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            </div>
            </div>
            </div>
