
<Form action="@Url.Action("Create","Sucursal")" id="createsuc" method="post">

    <div class="modal fade" id="CreateSuc" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myLargeModalLabel">Cree una categoría</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                </div>
                <div class="modal-body">
                    <br />
                    <div class="row">
                        <div class="col-sm-6">
                            <label>Departamento</label>
                            <select id="deptoCrea" class="form-control" name="deptoCrea" asp-items="ViewBag.deptoCrea"></select>
                        </div>

                        <div class="col-sm-6">
                            <label>Ciudad</label>
                            <select id="suc_MunicipioCrea" class="form-control" name="suc_MunicipioCrea"></select>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                            <label>Descripcion</label>
                            <input type="text" class="form-control" id="suc_DescripcionCrea" name="suc_Descripcion" />
                        </div>
                    </div>
                    <br />
                </div>
                <div class="modal-footer">
                    <button type="button" data-dismiss="modal" class="btn btn-outline-danger">Cancelar</button>
                    <button type="button" onclick="GuardarInsert()" class="btn btn-outline-success">Guardar</button>
                </div>
            </div>
        </div>
    </div>
</Form>


<script>


    $("#deptoCrea").change(function () {

        var depto = $("#deptoCrea").val();

        console.log(depto);

        $.ajax({
            url: "/Sucursal/CargarMunicipios/" + depto,
            method: "GET",
            dataType: "json",
            contentType: "application/json; charset=utf-8",

            success: function (data) {
                $("#suc_MunicipioCrea").empty();
                $("#suc_MunicipioCrea").append("<option value= '0' >Seleccione un Municipio</option>");

                $.each(data, function (i, value) {
                    $("#suc_MunicipioCrea").append("<option value='" + value.mun_ID + "'>" + value.mun_Descripcion + "</option>");
                })
            }
        })
    });


    function GuardarInsert() {

        var siuu = true;


        if ($('#suc_DescripcionCrea').val() == "" || $('#deptoCrea').val() == 0 || $('#suc_MunicipioCrea').val() == 0) {
            mostrarErrorToast("Campos requeridos.");
            siuu = false;
            console.log(1);
        }


        if (siuu) {
            $('#createsuc').submit();
            mostrarSuccessToast("Se ha ingresado correctamente los datos.")
        }

    };


</script>

