<!-- The Modal -->
<Form action="@Url.Action("Edit","Sucursal")" method="post" id="sucu">
    <div class="modal" id="EditSucu">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Crea una Sucursal</h4>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <input type="hidden" class="form-control" id="suc_Id" name="suc_Id" />

                    <div class="row">
                        <div class="col-sm-6">
                            <label class="form-text">Departamento</label>
                            <select id="depto" name="depto" class="form-control" asp-items="ViewBag.depto"></select>
                        </div>

                        <div class="col-sm-6">
                            <label class="form-text">Ciudad</label>
                            <select id="suc_Municipio" name="suc_Municipio" class="form-control"></select>
                        </div>
                    </div>

                    <div class="col-sm-12">
                        <label class="form-text">Descripcion</label>
                        <input type="text" class="form-control" id="txtSucu" name="suc_Descripcion" />
                        <label id="ValidateSucu" hidden class="text-danger">Campo Requerido</label>

                    </div>

                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-warning" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-outline-success" onclick="GuardarDatos()">Guardar</button>
                </div>

            </div>
        </div>
    </div>
</Form>

    <script>

        function Editar(cadena) {
        var datastring = cadena;
        var data = datastring.split(',');
            $("#suc_Id").val(data[0]);
        $("#txtSucu").val(data[1]);
            $("#EditSucu").modal('show');
        };


        function GuardarDatos() {

            if ($("#txtSucu").val() == "") {
            $("#ValidateSucu").attr("hidden", false);
        stop();
        }
        else {
            $("#ValidateSucu").attr("hidden", true);
            $('#sucu').submit();
        }
    };

</script>
